/* Стили для всего body */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: beige; /* Бежевый фон */
}

/* Стили для закрепленной серой полоски в верхней части сайта */
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #666; /* Серый цвет */
    color: #fff; /* Белый цвет текста */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для кнопок перемещения между секциями */
#nav-buttons {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

#nav-buttons button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out;
}

#nav-buttons button:hover {
    background-color: #333; /* Темно-серый цвет при наведении */
}

/* Стили для секции "Cats for tap!" */
#section-cats {
    background-color: beige; /* Бежевый цвет фона */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* Стили для секции "My collection" */
#section-collection {
    background-color: beige; /* Бежевый цвет фона */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* Стили для скрытия скроллбара */
body::-webkit-scrollbar {
    width: 0px;
}
